https://photos.app.goo.gl/XoVToPFsXXBkeuPb7

https://photos.app.goo.gl/csX8RTEdwDfroRfg7

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns

# preprocessing

## get npy

### assignment data

In [2]:
# path=os.path.join('datasets','X_train')
# with open(path) as f:
#     next(f)
#     x_train = np.array([line.strip('\n').split(',')[1:] for line in f], dtype = float)

# path=os.path.join('datasets','Y_train')
# with open(path) as f:
#     next(f)
#     y_train = np.array([line.strip('\n').split(',')[1] for line in f], dtype = float)

# path=os.path.join('datasets','X_test')
# with open(path) as f:
#     next(f)
#     x_test = np.array([line.strip('\n').split(',')[1:] for line in f], dtype = float)

### process by myself

#### read data

In [3]:
path=os.path.join('datasets','train.csv')
df_train=pd.read_csv(path)

print(df_train.shape)
df_train.head()

(54256, 42)

,id,age,class of worker,detailed industry recode,detailed occupation recode,education,wage per hour,enroll in edu inst last wk,marital stat,major industry code,...,country of birth father,country of birth mother,country of birth self,citizenship,own business or self employed,fill inc questionnaire for veteran's admin,veterans benefits,weeks worked in year,year,y
0,0,33,Private,34,26,Masters degree(MA MS MEng MEd MSW MBA),0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,...,China,China,Taiwan,Foreign born- Not a citizen of U S,2,Not in universe,2,52,95,50000+.
1,1,63,Private,7,22,Some college but no degree,0,Not in universe,Never married,Manufacturing-durable goods,...,?,?,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
2,2,71,Not in universe,0,0,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,...,Germany,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
3,3,43,Local government,43,10,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Education,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
4,4,57,Local government,40,32,Some college but no degree,0,Not in universe,Widowed,Entertainment,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.

In [4]:
path=os.path.join('datasets','test_no_label.csv')
df_test=pd.read_csv(path)

print(df_test.shape)
df_test.head()

(27622, 41)

,id,age,class of worker,detailed industry recode,detailed occupation recode,education,wage per hour,enroll in edu inst last wk,marital stat,major industry code,...,family members under 18,country of birth father,country of birth mother,country of birth self,citizenship,own business or self employed,fill inc questionnaire for veteran's admin,veterans benefits,weeks worked in year,year
0,0,37,Private,42,30,Associates degree-occup /vocational,0,Not in universe,Married-civilian spouse present,Medical except hospital,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95
1,1,48,Private,31,35,High school graduate,0,Not in universe,Married-civilian spouse present,Utilities and sanitary services,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95
2,2,68,Not in universe,0,0,High school graduate,0,Not in universe,Married-spouse absent,Not in universe or children,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94
3,3,74,Private,12,36,11th grade,700,Not in universe,Married-civilian spouse present,Manufacturing-durable goods,...,Not in universe,Poland,Poland,United-States,Native- Born in the United States,0,Not in universe,2,52,95
4,4,18,Federal government,50,14,Some college but no degree,0,Not in universe,Never married,Public administration,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95

In [5]:
def get_feature_info(df):
    info=pd.DataFrame()
    info['feature']=df.columns
    info['data_type']=info.feature.apply(lambda x: str(df[x].dtype))
    info['unique_num']=info.feature.apply(lambda x: len(df[x].unique()))
    info['nan_ratio']=info.feature.apply(lambda x: (df[x].isna().sum())/len(df) )
    return info

# df_train.columns
train_info=get_feature_info(df_train)
train_info.head()

                      feature data_type  unique_num  nan_ratio
0                          id     int64       54256        0.0
1                         age     int64          91        0.0
2             class of worker    object           9        0.0
3    detailed industry recode     int64          52        0.0
4  detailed occupation recode     int64          47        0.0

#### split train to (x,y)

In [6]:
df_x_train=df_train.drop(columns='y')
df_y_train=df_train[['y']]
df_x_test=df_test

df_x_train.shape, df_y_train.shape, df_x_test.shape

((54256, 41), (54256, 1), (27622, 41))

In [7]:
df_x_all=pd.concat([df_x_train,df_x_test],axis=0)
df_x_all.shape

(81878, 41)

#### category to number

In [8]:
df_x_all_no_category=pd.get_dummies(df_x_all)
df_x_all_no_category.head()

,id,age,detailed industry recode,detailed occupation recode,wage per hour,capital gains,capital losses,dividends from stocks,num persons worked for employer,own business or self employed,...,country of birth self_ Vietnam,country of birth self_ Yugoslavia,citizenship_ Foreign born- Not a citizen of U S,citizenship_ Foreign born- U S citizen by naturalization,citizenship_ Native- Born abroad of American Parent(s),citizenship_ Native- Born in Puerto Rico or U S Outlying,citizenship_ Native- Born in the United States,fill inc questionnaire for veteran's admin_ No,fill inc questionnaire for veteran's admin_ Not in universe,fill inc questionnaire for veteran's admin_ Yes
0,0,33,34,26,0,0,0,0,6,2,...,0,0,1,0,0,0,0,0,1,0
1,1,63,7,22,0,0,0,0,4,0,...,0,0,0,0,0,0,1,0,1,0
2,2,71,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,3,43,43,10,0,0,0,0,6,0,...,0,0,0,0,0,0,1,0,1,0
4,4,57,40,32,0,0,0,0,6,0,...,0,0,0,0,0,0,1,0,1,0

In [9]:
# df_train_test_no_category.columns.tolist()

In [10]:
df_y_train=df_y_train.copy()
df_y_train['y_label']=pd.factorize(df_y_train['y'])[0]
df_y_train.head(5)

           y  y_label
0    50000+.        0
1   - 50000.        1
2   - 50000.        1
3   - 50000.        1
4   - 50000.        1

#### drop id

In [11]:
df_x_all_drop=df_x_all_no_category.drop(columns='id')
df_x_all_drop.shape

(81878, 406)

In [12]:
df_x_all_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81878 entries, 0 to 27621
Columns: 406 entries, age to fill inc questionnaire for veteran's admin_ Yes
dtypes: int64(12), uint8(394)
memory usage: 38.9 MB

#### get npy

In [13]:
# float == float64, float64 !=  float32
# https://stackoverflow.com/questions/44900912/numpys-float32-and-float-comparisons/44918864
dtype='float64'
x_train=df_x_all_drop[:len(df_x_train)].values.astype(dtype) 
y_train=df_y_train.y_label.values.astype(dtype)
x_test=df_x_all_drop[len(df_x_train):].values.astype(dtype)

print(x_train.shape,y_train.shape,x_test.shape)

(54256, 406) (54256,) (27622, 406)

## normalize

In [14]:
def normalize(arr, arr_mean, arr_std):
    eps = 1e-8 #np.finfo(float).eps
    for i_feature in range(arr.shape[1]): 
        mean = arr_mean[i_feature]
        std = arr_std[i_feature] + eps # prevent divide by 0
    
        val = arr[:, i_feature]
        arr[:, i_feature] = (val - mean) / std

x_train_mean = np.mean(x_train, axis = 0) 
x_train_std = np.std(x_train, axis = 0) 

normalize(x_train, x_train_mean, x_train_std)
normalize(x_test, x_train_mean, x_train_std)

In [15]:
# np.mean(x_train, axis = 0)
# np.std(x_train, axis = 0) 

# np.mean(x_test, axis = 0)
# np.std(x_test, axis = 0)

## train valid split

In [16]:
import random

def train_valid_split(x_train, y_train, split_ratio):
    indexs = np.arange(len(x_train))
    random.seed(5)
    random.shuffle(indexs)

    train_num = int(len(x_train) * (1-split_ratio))
    train_indexes = indexs[:train_num]
    valid_indexes = indexs[train_num:]

    x_train_split, y_train_split = x_train[train_indexes], y_train[train_indexes]
    x_valid_split, y_valid_split = x_train[valid_indexes], y_train[valid_indexes]
    return x_train_split, x_valid_split, y_train_split, y_valid_split

In [17]:
split_ratio = 0.2
x = x_train
y = y_train.reshape(-1, 1)

X_train, X_valid, Y_train, Y_valid = train_valid_split(x, y, split_ratio)
print(X_train.shape, Y_train.shape)
print(X_valid.shape, Y_valid.shape)

(43404, 406) (43404, 1)
(10852, 406) (10852, 1)

# model

## split two group

In [18]:
indexs_group1 = (Y_train==1).reshape(-1) ### y=1, group1 !!!!!!!
indexs_group2 = (Y_train==0).reshape(-1) ### y=0, group2

X_train_group1 = X_train[indexs_group1]
X_train_group2 = X_train[indexs_group2]

X_train_group1.shape, X_train_group2.shape

((34509, 406), (8895, 406))

## calculate mu1, mu2, sigma1, sigma2

In [19]:
mu1 = np.mean(X_train_group1, axis=0)
mu2 = np.mean(X_train_group2, axis=0)

mu1.shape, mu2.shape

((406,), (406,))

In [20]:
X_train_group1_norm = X_train_group1 - mu1
X_train_group2_norm = X_train_group2 - mu2

X_train_group1_norm.shape, X_train_group2_norm.shape

((34509, 406), (8895, 406))

In [21]:
feature_num = X_train.shape[1]

N1 = X_train_group1_norm.shape[0]
N2 = X_train_group2_norm.shape[0]

cov1 = (X_train_group1_norm.T @ X_train_group1_norm) / N1
cov2 = (X_train_group2_norm.T @ X_train_group2_norm) / N2
cov = (N1/(N1+N2))*cov1 + (N2/(N1+N2))*cov2

cov1.shape, cov2.shape, cov.shape

((406, 406), (406, 406), (406, 406))

## calculate W, B

In [22]:
#gamma = np.linalg.inv(cov, full_matrices=False)
u, s, v = np.linalg.svd(cov, full_matrices=False)
gamma = np.matmul(v.T * 1 / s, u.T) # gamma = inverse covarience matrix

cov.shape, gamma.shape

((406, 406), (406, 406))

In [23]:
W = (mu1.T - mu2.T) @ gamma 
W.shape

(406,)

In [24]:
b = -0.5 * (mu1.T @ gamma @ mu1 - mu2.T @ gamma @ mu2) + np.log(N1/N2)
b

2.7344272801145753

In [25]:
# a=np.array([1,2])
# b=np.array([3,4])
# a@b

## valid

In [26]:
def sigmoid(z):
    eps = np.finfo(float).eps
    res = 1 / (1.0 + np.exp(-z)) # 'float32' cannot store the data, result in 'overflow'
    return np.clip(res, eps, 1-eps)

def acc(Y, Y_hat):
    Y=Y.reshape(-1) ### wtf
    Y_hat=Y_hat.reshape(-1) ###
    
    Y_hat=np.round(Y_hat)
    match=Y==Y_hat
    acc=np.mean(match)    
    return acc

In [27]:
# if 'float32' => overflow encountered in exp !!!
# https://stackoverflow.com/questions/4359959/overflow-in-exp-in-scipy-numpy-in-python

Z_train_hat = X_train @ W + b

Y_train_hat = sigmoid(Z_train_hat) # p(group1|x), group1 => y=0
Y_train_hat = np.round(Y_train_hat)

acc(Y_train, Y_train_hat)

0.8716708137498848

In [28]:
Z_valid_hat = X_valid @ W + b

Y_valid_hat = sigmoid(Z_valid_hat) # p(group1|x), group1 => y=0
Y_valid_hat = np.round(Y_valid_hat)

acc(Y_valid, Y_valid_hat)

0.8658311831920383