https://photos.app.goo.gl/XoVToPFsXXBkeuPb7

https://photos.app.goo.gl/csX8RTEdwDfroRfg7

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns

# preprocessing

## get npy

### assignment data

In [2]:
# path=os.path.join('datasets','X_train')
# with open(path) as f:
#     next(f)
#     x_train = np.array([line.strip('\n').split(',')[1:] for line in f], dtype = float)

# path=os.path.join('datasets','Y_train')
# with open(path) as f:
#     next(f)
#     y_train = np.array([line.strip('\n').split(',')[1:] for line in f], dtype = float)

# path=os.path.join('datasets','X_test')
# with open(path) as f:
#     next(f)
#     x_test = np.array([line.strip('\n').split(',')[1:] for line in f], dtype = float)

# print(x_train.shape, y_train.shape, x_test.shape)

### process by myself

#### read data

In [3]:
path=os.path.join('datasets','train.csv')
df_train=pd.read_csv(path)

print(df_train.shape)
df_train.head()

(54256, 42)

,id,age,class of worker,detailed industry recode,detailed occupation recode,education,wage per hour,enroll in edu inst last wk,marital stat,major industry code,...,country of birth father,country of birth mother,country of birth self,citizenship,own business or self employed,fill inc questionnaire for veteran's admin,veterans benefits,weeks worked in year,year,y
0,0,33,Private,34,26,Masters degree(MA MS MEng MEd MSW MBA),0,Not in universe,Married-civilian spouse present,Finance insurance and real estate,...,China,China,Taiwan,Foreign born- Not a citizen of U S,2,Not in universe,2,52,95,50000+.
1,1,63,Private,7,22,Some college but no degree,0,Not in universe,Never married,Manufacturing-durable goods,...,?,?,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
2,2,71,Not in universe,0,0,7th and 8th grade,0,Not in universe,Married-civilian spouse present,Not in universe or children,...,Germany,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
3,3,43,Local government,43,10,Bachelors degree(BA AB BS),0,Not in universe,Married-civilian spouse present,Education,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.
4,4,57,Local government,40,32,Some college but no degree,0,Not in universe,Widowed,Entertainment,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95,- 50000.

In [4]:
path=os.path.join('datasets','test_no_label.csv')
df_test=pd.read_csv(path)

print(df_test.shape)
df_test.head()

(27622, 41)

,id,age,class of worker,detailed industry recode,detailed occupation recode,education,wage per hour,enroll in edu inst last wk,marital stat,major industry code,...,family members under 18,country of birth father,country of birth mother,country of birth self,citizenship,own business or self employed,fill inc questionnaire for veteran's admin,veterans benefits,weeks worked in year,year
0,0,37,Private,42,30,Associates degree-occup /vocational,0,Not in universe,Married-civilian spouse present,Medical except hospital,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95
1,1,48,Private,31,35,High school graduate,0,Not in universe,Married-civilian spouse present,Utilities and sanitary services,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,95
2,2,68,Not in universe,0,0,High school graduate,0,Not in universe,Married-spouse absent,Not in universe or children,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,94
3,3,74,Private,12,36,11th grade,700,Not in universe,Married-civilian spouse present,Manufacturing-durable goods,...,Not in universe,Poland,Poland,United-States,Native- Born in the United States,0,Not in universe,2,52,95
4,4,18,Federal government,50,14,Some college but no degree,0,Not in universe,Never married,Public administration,...,Not in universe,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95

In [5]:
def get_feature_info(df):
    info=pd.DataFrame()
    info['feature']=df.columns
    info['data_type']=info.feature.apply(lambda x: str(df[x].dtype))
    info['unique_num']=info.feature.apply(lambda x: len(df[x].unique()))
    info['nan_ratio']=info.feature.apply(lambda x: (df[x].isna().sum())/len(df) )
    return info

# df_train.columns
train_info=get_feature_info(df_train)
train_info.head()

                      feature data_type  unique_num  nan_ratio
0                          id     int64       54256        0.0
1                         age     int64          91        0.0
2             class of worker    object           9        0.0
3    detailed industry recode     int64          52        0.0
4  detailed occupation recode     int64          47        0.0

#### split train to (x,y)

In [6]:
df_x_train=df_train.drop(columns='y')
df_y_train=df_train[['y']]
df_x_test=df_test

df_x_train.shape, df_y_train.shape, df_x_test.shape

((54256, 41), (54256, 1), (27622, 41))

In [7]:
df_x_all=pd.concat([df_x_train,df_x_test],axis=0)
df_x_all.shape

(81878, 41)

#### category to number

In [8]:
df_x_all_no_category=pd.get_dummies(df_x_all)
df_x_all_no_category.head()

,id,age,detailed industry recode,detailed occupation recode,wage per hour,capital gains,capital losses,dividends from stocks,num persons worked for employer,own business or self employed,...,country of birth self_ Vietnam,country of birth self_ Yugoslavia,citizenship_ Foreign born- Not a citizen of U S,citizenship_ Foreign born- U S citizen by naturalization,citizenship_ Native- Born abroad of American Parent(s),citizenship_ Native- Born in Puerto Rico or U S Outlying,citizenship_ Native- Born in the United States,fill inc questionnaire for veteran's admin_ No,fill inc questionnaire for veteran's admin_ Not in universe,fill inc questionnaire for veteran's admin_ Yes
0,0,33,34,26,0,0,0,0,6,2,...,0,0,1,0,0,0,0,0,1,0
1,1,63,7,22,0,0,0,0,4,0,...,0,0,0,0,0,0,1,0,1,0
2,2,71,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,3,43,43,10,0,0,0,0,6,0,...,0,0,0,0,0,0,1,0,1,0
4,4,57,40,32,0,0,0,0,6,0,...,0,0,0,0,0,0,1,0,1,0

In [9]:
# df_train_test_no_category.columns.tolist()

In [10]:
df_y_train=df_y_train.copy()
df_y_train['y_label']=pd.factorize(df_y_train['y'])[0]
df_y_train.head(5)

           y  y_label
0    50000+.        0
1   - 50000.        1
2   - 50000.        1
3   - 50000.        1
4   - 50000.        1

#### drop id

In [11]:
df_x_all_drop=df_x_all_no_category.drop(columns='id')
df_x_all_drop.shape

(81878, 406)

In [12]:
df_x_all_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 81878 entries, 0 to 27621
Columns: 406 entries, age to fill inc questionnaire for veteran's admin_ Yes
dtypes: int64(12), uint8(394)
memory usage: 38.9 MB

#### get npy

In [13]:
dtype='float64'
x_train=df_x_all_drop[:len(df_x_train)].values.astype(dtype) 
y_train=df_y_train.y_label.values.astype(dtype)
x_test=df_x_all_drop[len(df_x_train):].values.astype(dtype)

print(x_train.shape,y_train.shape,x_test.shape)

(54256, 406) (54256,) (27622, 406)

## normalize

In [14]:
def normalize(arr, arr_mean, arr_std):
    for i_feature in range(arr.shape[1]): 
        mean = arr_mean[i_feature]
#         std = arr_std[i_feature] + eps # prevent divide by 0
        std = arr_std[i_feature] 
        std = std if std!=0 else 1
    
        val = arr[:, i_feature]
        arr[:, i_feature] = (val - mean) / std
    
    
x_train_mean = np.mean(x_train, axis = 0) 
x_train_std = np.std(x_train, axis = 0) 

normalize(x_train, x_train_mean, x_train_std)
normalize(x_test, x_train_mean, x_train_std)

x_train.shape, x_test.shape

((54256, 406), (27622, 406))

In [15]:
# np.mean(x_train, axis = 0)
# np.std(x_train, axis = 0) 

# np.mean(x_test, axis = 0)
# np.std(x_test, axis = 0)

## append 1 to x

In [16]:
def append_ones(arr):
    ones = np.ones(len(arr)).reshape(-1,1)
    arr = np.concatenate([arr, ones], axis=1)
    return arr

In [17]:
x_train_append = append_ones(x_train)
x_train_append.shape, x_train.shape

((54256, 407), (54256, 406))

In [18]:
x_test_append = append_ones(x_test)
x_test_append.shape, x_test.shape

((27622, 407), (27622, 406))

## train valid split

In [19]:
import random

def train_valid_split(x_train, y_train, split_ratio):
    indexs = np.arange(len(x_train))
    random.seed(5)
    random.shuffle(indexs)

    train_num = int(len(x_train) * (1-split_ratio))
    train_indexes = indexs[:train_num]
    valid_indexes = indexs[train_num:]

    x_train_split, y_train_split = x_train[train_indexes], y_train[train_indexes]
    x_valid_split, y_valid_split = x_train[valid_indexes], y_train[valid_indexes]
    return x_train_split, x_valid_split, y_train_split, y_valid_split

In [20]:

split_ratio = 0.2
x = x_train_append
y = y_train.reshape(-1, 1)
X_train, X_valid, Y_train, Y_valid = train_valid_split(x, y, split_ratio)
print(X_train.shape, Y_train.shape)
print(X_valid.shape, Y_valid.shape)

(43404, 407) (43404, 1)
(10852, 407) (10852, 1)

# model

In [21]:
def mean_cross_entropy(Y, Y_hat):
    L = - Y * np.log(Y_hat) - (1-Y) * np.log(1-Y_hat)
    L_mean = np.mean(L, axis=0)
    return L_mean

In [22]:
def acc(Y, Y_hat):
    Y_hat=np.round(Y_hat)
    match=Y==Y_hat
    acc=np.mean(match)    
    return acc

# Y=np.array([1,0,1])
# Y_hat=np.array([0.2, 0.3, 0.7])
# acc(Y, Y_hat)

In [23]:
# def sigmoid(z):
#     z = float(z)
#     y = 1 / (1+np.exp(-z))
#     return y

def sigmoid(z):
    eps = np.finfo(float).eps
    res = 1 / (1.0 + np.exp(-z))
    return np.clip(res, eps, 1-eps)

# sigmoid(-100)
# sigmoid(100)

In [24]:
learning_rate = 0.00001 ###
weight_num = X_train.shape[1]
W = np.zeros(weight_num).reshape(-1, 1)
R = np.zeros(weight_num).reshape(-1, 1)
epochs = 100
eps = np.finfo(float).eps

for i in range(epochs):
    Z_train_hat = X_train @ W
    Y_train_hat = sigmoid(Z_train_hat)
    Y_train_delta = Y_train_hat - Y_train ###
    
    # calculate gradients
    G = X_train.T @ Y_train_delta
    R += G ** 2
    sigma = np.sqrt(R) + eps # prevent 0
    adaG = G / sigma
    
    # update weights
    W -= learning_rate * G
    
    # metrics
    Z_valid_hat = X_valid @ W
    Y_valid_hat = sigmoid(Z_valid_hat)
    
    train_mce = mean_cross_entropy(Y_train, Y_train_hat)
    train_acc = acc(Y_train, Y_train_hat)
    
    valid_mce = mean_cross_entropy(Y_valid, Y_valid_hat)
    valid_acc = acc(Y_valid, Y_valid_hat)
    print(
        i, 
        'train_mce = %.4f'%(train_mce), 'train_acc = %.4f'%(train_acc), 
        'valid_mce = %.4f'%(valid_mce), 'valid_acc = %.4f'%(valid_acc))

0 train_mce = 0.6931 train_acc = 0.2049 valid_mce = 0.5780 valid_acc = 0.6801
1 train_mce = 0.5725 train_acc = 0.6894 valid_mce = 0.5241 valid_acc = 0.7690
2 train_mce = 0.5189 train_acc = 0.7785 valid_mce = 0.4885 valid_acc = 0.7962
3 train_mce = 0.4826 train_acc = 0.8051 valid_mce = 0.4615 valid_acc = 0.8190
4 train_mce = 0.4552 train_acc = 0.8253 valid_mce = 0.4402 valid_acc = 0.8317
5 train_mce = 0.4335 train_acc = 0.8388 valid_mce = 0.4229 valid_acc = 0.8402
6 train_mce = 0.4158 train_acc = 0.8468 valid_mce = 0.4086 valid_acc = 0.8474
7 train_mce = 0.4011 train_acc = 0.8528 valid_mce = 0.3965 valid_acc = 0.8537
8 train_mce = 0.3887 train_acc = 0.8569 valid_mce = 0.3862 valid_acc = 0.8551
9 train_mce = 0.3781 train_acc = 0.8602 valid_mce = 0.3773 valid_acc = 0.8579
10 train_mce = 0.3690 train_acc = 0.8625 valid_mce = 0.3697 valid_acc = 0.8603
11 train_mce = 0.3612 train_acc = 0.8645 valid_mce = 0.3630 valid_acc = 0.8616
12 train_mce = 0.3542 train_acc = 0.8661 valid_mce = 0.3571 valid_acc = 0.8629
13 train_mce = 0.3482 train_acc = 0.8675 valid_mce = 0.3518 valid_acc = 0.8633
14 train_mce = 0.3428 train_acc = 0.8690 valid_mce = 0.3472 valid_acc = 0.8640
15 train_mce = 0.3380 train_acc = 0.8701 valid_mce = 0.3431 valid_acc = 0.8650
16 train_mce = 0.3337 train_acc = 0.8709 valid_mce = 0.3394 valid_acc = 0.8657
17 train_mce = 0.3298 train_acc = 0.8719 valid_mce = 0.3360 valid_acc = 0.8658
18 train_mce = 0.3263 train_acc = 0.8719 valid_mce = 0.3330 valid_acc = 0.8661
19 train_mce = 0.3232 train_acc = 0.8724 valid_mce = 0.3302 valid_acc = 0.8672
20 train_mce = 0.3203 train_acc = 0.8731 valid_mce = 0.3277 valid_acc = 0.8682
21 train_mce = 0.3177 train_acc = 0.8734 valid_mce = 0.3254 valid_acc = 0.8691
22 train_mce = 0.3153 train_acc = 0.8737 valid_mce = 0.3233 valid_acc = 0.8695
23 train_mce = 0.3131 train_acc = 0.8741 valid_mce = 0.3214 valid_acc = 0.8700
24 train_mce = 0.3110 train_acc = 0.8743 valid_mce = 0.3196 valid_acc = 0.8708
25 train_mce = 0.3091 train_acc = 0.8745 valid_mce = 0.3179 valid_acc = 0.8713
26 train_mce = 0.3074 train_acc = 0.8750 valid_mce = 0.3164 valid_acc = 0.8710
27 train_mce = 0.3058 train_acc = 0.8753 valid_mce = 0.3150 valid_acc = 0.8716
28 train_mce = 0.3043 train_acc = 0.8753 valid_mce = 0.3137 valid_acc = 0.8714
29 train_mce = 0.3029 train_acc = 0.8757 valid_mce = 0.3124 valid_acc = 0.8719
30 train_mce = 0.3016 train_acc = 0.8760 valid_mce = 0.3113 valid_acc = 0.8723
31 train_mce = 0.3003 train_acc = 0.8762 valid_mce = 0.3102 valid_acc = 0.8731
32 train_mce = 0.2992 train_acc = 0.8763 valid_mce = 0.3092 valid_acc = 0.8731
33 train_mce = 0.2981 train_acc = 0.8765 valid_mce = 0.3083 valid_acc = 0.8729
34 train_mce = 0.2971 train_acc = 0.8767 valid_mce = 0.3074 valid_acc = 0.8727
35 train_mce = 0.2961 train_acc = 0.8771 valid_mce = 0.3065 valid_acc = 0.8727
36 train_mce = 0.2952 train_acc = 0.8772 valid_mce = 0.3057 valid_acc = 0.8727
37 train_mce = 0.2943 train_acc = 0.8774 valid_mce = 0.3050 valid_acc = 0.8727
38 train_mce = 0.2935 train_acc = 0.8776 valid_mce = 0.3043 valid_acc = 0.8730
39 train_mce = 0.2928 train_acc = 0.8776 valid_mce = 0.3036 valid_acc = 0.8729
40 train_mce = 0.2920 train_acc = 0.8777 valid_mce = 0.3029 valid_acc = 0.8729
41 train_mce = 0.2913 train_acc = 0.8779 valid_mce = 0.3023 valid_acc = 0.8729
42 train_mce = 0.2907 train_acc = 0.8781 valid_mce = 0.3018 valid_acc = 0.8731
43 train_mce = 0.2900 train_acc = 0.8782 valid_mce = 0.3012 valid_acc = 0.8733
44 train_mce = 0.2894 train_acc = 0.8782 valid_mce = 0.3007 valid_acc = 0.8736
45 train_mce = 0.2889 train_acc = 0.8784 valid_mce = 0.3002 valid_acc = 0.8738
46 train_mce = 0.2883 train_acc = 0.8786 valid_mce = 0.2997 valid_acc = 0.8739
47 train_mce = 0.2878 train_acc = 0.8786 valid_mce = 0.2993 valid_acc = 0.8742
48 train_mce = 0.2873 train_acc = 0.8787 valid_mce = 0.2988 valid_acc = 0.8742
49 train_mce = 0.2868 train_acc = 0.8788 valid_mce = 0.2984 valid_acc = 0.8740
50 train_mce = 0.2864 train_acc = 0.8788 valid_mce = 0.2980 valid_acc = 0.8741
51 train_mce = 0.2859 train_acc = 0.8789 valid_mce = 0.2976 valid_acc = 0.8742
52 train_mce = 0.2855 train_acc = 0.8789 valid_mce = 0.2973 valid_acc = 0.8743
53 train_mce = 0.2851 train_acc = 0.8792 valid_mce = 0.2969 valid_acc = 0.8743
54 train_mce = 0.2847 train_acc = 0.8792 valid_mce = 0.2966 valid_acc = 0.8745
55 train_mce = 0.2843 train_acc = 0.8792 valid_mce = 0.2963 valid_acc = 0.8745
56 train_mce = 0.2840 train_acc = 0.8791 valid_mce = 0.2960 valid_acc = 0.8745
57 train_mce = 0.2836 train_acc = 0.8793 valid_mce = 0.2957 valid_acc = 0.8745
58 train_mce = 0.2833 train_acc = 0.8795 valid_mce = 0.2954 valid_acc = 0.8746
59 train_mce = 0.2830 train_acc = 0.8795 valid_mce = 0.2951 valid_acc = 0.8747
60 train_mce = 0.2827 train_acc = 0.8795 valid_mce = 0.2948 valid_acc = 0.8747
61 train_mce = 0.2824 train_acc = 0.8796 valid_mce = 0.2946 valid_acc = 0.8747
62 train_mce = 0.2821 train_acc = 0.8795 valid_mce = 0.2943 valid_acc = 0.8744
63 train_mce = 0.2818 train_acc = 0.8797 valid_mce = 0.2941 valid_acc = 0.8747
64 train_mce = 0.2815 train_acc = 0.8797 valid_mce = 0.2939 valid_acc = 0.8749
65 train_mce = 0.2813 train_acc = 0.8798 valid_mce = 0.2936 valid_acc = 0.8751
66 train_mce = 0.2810 train_acc = 0.8798 valid_mce = 0.2934 valid_acc = 0.8751
67 train_mce = 0.2808 train_acc = 0.8799 valid_mce = 0.2932 valid_acc = 0.8751
68 train_mce = 0.2805 train_acc = 0.8800 valid_mce = 0.2930 valid_acc = 0.8751
69 train_mce = 0.2803 train_acc = 0.8800 valid_mce = 0.2928 valid_acc = 0.8752
70 train_mce = 0.2801 train_acc = 0.8799 valid_mce = 0.2926 valid_acc = 0.8752
71 train_mce = 0.2799 train_acc = 0.8800 valid_mce = 0.2925 valid_acc = 0.8752
72 train_mce = 0.2796 train_acc = 0.8799 valid_mce = 0.2923 valid_acc = 0.8753
73 train_mce = 0.2794 train_acc = 0.8799 valid_mce = 0.2921 valid_acc = 0.8753
74 train_mce = 0.2792 train_acc = 0.8799 valid_mce = 0.2919 valid_acc = 0.8754
75 train_mce = 0.2790 train_acc = 0.8801 valid_mce = 0.2918 valid_acc = 0.8750
76 train_mce = 0.2789 train_acc = 0.8801 valid_mce = 0.2916 valid_acc = 0.8750
77 train_mce = 0.2787 train_acc = 0.8801 valid_mce = 0.2915 valid_acc = 0.8749
78 train_mce = 0.2785 train_acc = 0.8802 valid_mce = 0.2913 valid_acc = 0.8748
79 train_mce = 0.2783 train_acc = 0.8803 valid_mce = 0.2912 valid_acc = 0.8749
80 train_mce = 0.2782 train_acc = 0.8802 valid_mce = 0.2910 valid_acc = 0.8748
81 train_mce = 0.2780 train_acc = 0.8802 valid_mce = 0.2909 valid_acc = 0.8748
82 train_mce = 0.2778 train_acc = 0.8802 valid_mce = 0.2908 valid_acc = 0.8749
83 train_mce = 0.2777 train_acc = 0.8802 valid_mce = 0.2907 valid_acc = 0.8749
84 train_mce = 0.2775 train_acc = 0.8801 valid_mce = 0.2905 valid_acc = 0.8749
85 train_mce = 0.2774 train_acc = 0.8802 valid_mce = 0.2904 valid_acc = 0.8750
86 train_mce = 0.2772 train_acc = 0.8802 valid_mce = 0.2903 valid_acc = 0.8751
87 train_mce = 0.2771 train_acc = 0.8802 valid_mce = 0.2902 valid_acc = 0.8750
88 train_mce = 0.2770 train_acc = 0.8801 valid_mce = 0.2901 valid_acc = 0.8750
89 train_mce = 0.2768 train_acc = 0.8802 valid_mce = 0.2900 valid_acc = 0.8751
90 train_mce = 0.2767 train_acc = 0.8803 valid_mce = 0.2899 valid_acc = 0.8752
91 train_mce = 0.2766 train_acc = 0.8804 valid_mce = 0.2898 valid_acc = 0.8753
92 train_mce = 0.2764 train_acc = 0.8804 valid_mce = 0.2897 valid_acc = 0.8751
93 train_mce = 0.2763 train_acc = 0.8804 valid_mce = 0.2896 valid_acc = 0.8753
94 train_mce = 0.2762 train_acc = 0.8805 valid_mce = 0.2895 valid_acc = 0.8755
95 train_mce = 0.2761 train_acc = 0.8805 valid_mce = 0.2894 valid_acc = 0.8755
96 train_mce = 0.2760 train_acc = 0.8806 valid_mce = 0.2893 valid_acc = 0.8754
97 train_mce = 0.2759 train_acc = 0.8806 valid_mce = 0.2892 valid_acc = 0.8753
98 train_mce = 0.2758 train_acc = 0.8807 valid_mce = 0.2891 valid_acc = 0.8753
99 train_mce = 0.2757 train_acc = 0.8807 valid_mce = 0.2890 valid_acc = 0.8754

## exp

In [25]:
# x_train=df_x_all_drop[:len(df_x_train)].values.astype('float32')
# y_train=df_y_train.y_label.values.astype('float32')
# x_test=df_x_all_drop[len(df_x_train):].values.astype('float32')

# for is_normalize in [0,1]:
#     for is_adaG in [0,1]:
#         print('#'*50)
#         print('normalize',is_normalize,'adaG',is_adaG)
#         if is_normalize==1: normalize(x_train, x_test)
#         x_train_append = append_ones(x_train)
#         x_test_append = append_ones(x_test)
#         X_train, X_valid, Y_train, Y_valid = train_valid_split(x_train_append, y_train.reshape(-1, 1), 0.2)

#         learning_rate = 0.00001 ###
#         weight_num = X_train.shape[1]
#         W = np.zeros(weight_num).reshape(-1, 1)
#         R = np.zeros(weight_num).reshape(-1, 1)
#         epochs = 100
#         eps = np.finfo(float).eps

#         for i in range(epochs):
#             Z_train_hat = X_train @ W
#             Y_train_hat = sigmoid(Z_train_hat)
#             Y_train_delta = Y_train_hat - Y_train ###

#             # calculate gradients
#             G = X_train.T @ Y_train_delta
#             if is_adaG==1: 
#                 R += G ** 2
#                 sigma = np.sqrt(R) + eps # prevent 0
#                 G = G / sigma

#             # update weights
#             W -= learning_rate * G

#             # metrics
#             Z_valid_hat = X_valid @ W
#             Y_valid_hat = sigmoid(Z_valid_hat)
#             train_mce = mean_cross_entropy(Y_train, Y_train_hat)
#             valid_mce = mean_cross_entropy(Y_valid, Y_valid_hat)
#             print(i, 'train_mce = %.4f'%(train_mce), 'valid_mce = %.4f'%(valid_mce))